<% if true  %>
<div class="modal fade" id="newPostButton" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Post</h4>
      </div>
      <div class="modal-body">
        <%= form_for [@user, @post] do |f| %>
          <div class="form-group">
            <%= f.text_field :title, :class => 'form-control', :placeholder => "Post Title..." %>
          </div>
          <div class="form-group">
            <%= f.text_field :link, :class => 'form-control', :placeholder => "Link Url..." %>
          </div>
          <div class="form-group">
            <input type="hidden" name="post[ranking]" value="10">
            <input type="date" name="post[date]" class="form-control">
          </div>
          <%= f.submit(:class => "btn btn-primary") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<ul id="posts-listing">
<% @posts.each do |p|  %>
  <li>
    <span class="post-ranking"><%= p.ranking %></span>
    <%= p.title %> <small>(posted by <%= p.user.name %>)</small>
    <span class="glyphicon glyphicon-comment"></span>
    <a data-upvalue="1" class="upvote"><span class="glyphicon glyphicon-thumbs-up"></span></a>
    <a data-downvalue="-1" class="downvote"><span class="glyphicon glyphicon-thumbs-down"></span></a>
    <div class="vote-form">
      <%= form_for [@user, p, @vote] do |f| %>
        <input type="hidden" name="vote[anarchy]" class="anarchy">
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.hidden_field :post_id, :value => p.id %>
        <%# f.submit(:class => "btn btn-primary") %>
      <% end %>
  </div>
  </li>
<% end %>
</ul>


<div class="modal fade" id="newCommentButton" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New User</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@comment) do |f| %>
          <div class="form-group">
            <%= f.text_field :name, :class => 'form-control', :placeholder => "User Name..." %>
          </div>
          <%= f.submit(:class => "btn btn-primary") %>
        <% end %>
      </div>
    </div>
  </div>
</div>








